@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

$fuentePrin:'Montserrat', sans-serif;

//tamaños de texto
$textTamUno:1rem;
$textTamUnoM:1.5rem;
$textTamDos:2rem;
$textTamDosM:2.5rem;
$textTamTres:3rem;
$textTamTresM:3.5rem;

//Alineación de texto
$textCenter:center;
$textRight:right;
$textLeft:left;

//Text weight
$textBold:700;
$textBolder:800;
$textBoldderTwo:900;
$textBoldest:700;